@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: arial, sans-serif;
  font-size: 1.6rem;
}

.swiper-slide {
  filter: grayscale(0.9) brightness(0.3);
  transition: 0.5s;
}

.swiper-slide:hover,
.swiper-slide-active.swiper-slide {
  filter: grayscale(0) brightness(1);
}
